<!DOCTYPE html>
<html lang="en" data-theme="light" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout-main(pageContent=~{:: .main}, title='Add a new item for sale', cssPath=null, jsPath=null)}">

<main class="main">
    <section class="section-content">
        <div class="container">
            <div class="form-container">
                <div class="form-section">
                    <h1 class="form-title">New sale</h1>

                    <form method="POST" th:object="${item}" th:action="@{/create-item}" class="auth-form">

                        <p class="alert alert-error" th:each="error: ${#fields.errors('global')}" th:text="${error}"></p>

                        <div class="form-group">
                            <div class="form-field">
                                <input type="text" id="itemName" name="itemName" required class="form-input"
                                       placeholder="" th:field="*{itemName}"/>
                                <label for="itemName" class="form-label">Item</label>
                                <div th:replace="~{fragments/fragment-error :: frag-error('itemName')}"></div>
                            </div>

                            <div class="form-field">
                                <textarea id="description" name="description" required
                                          class="form-input textarea-custom" placeholder=""
                                          th:field="*{description}" rows="8"></textarea>
                                <label for="description" class="form-label">Description</label>
                                <div th:replace="~{fragments/fragment-error :: frag-error('description')}"></div>
                            </div>

                            <div class="form-field">
                                <input type="file" name="imageUrl" th:field="*{imageUrl}" accept="image/*" id="image">
                                <label for="image" class="upload-label">
                                    <i class="ri-image-circle-line"></i>
                                    Add a Picture
                                </label>
                                <div id="image-container"></div>
                                <div th:replace="~{fragments/fragment-error :: frag-error('imageUrl')}"></div>
                            </div>

                            <div class="form-row">
                                <div class="form-field">
                                    <select name="category" id="category" class="form-input">
                                        <option value="">--Choose a category--</option>
                                        <option th:each="category : ${categories}" th:value="${category.categoryId}"
                                                th:selected="${category.categoryId == item.category?.categoryId}"
                                                th:text="${category.label}"></option>
                                    </select>
                                    <label for="category" class="form-label">Category</label>
                                    <div th:replace="~{fragments/fragment-error :: frag-error('category')}"></div>
                                </div>

                                <div class="form-field">
                                    <input type="number" min="0" id="startingPrice" name="startingPrice" required
                                           class="form-input"
                                           placeholder="" value="0" th:field="*{startingPrice}"/>
                                    <label for="startingPrice" class="form-label">Price</label>
                                    <div th:replace="~{fragments/fragment-error :: frag-error('startingPrice')}"></div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-field">
                                    <input type="datetime-local"
                                           id="auctionStartingDate"
                                           name="auctionStartingDate"
                                           required
                                           class="form-input"
                                           placeholder=""
                                           th:attr="min=${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd''T''HH:mm')}"
                                           th:value="${formattedStartDate}"
                                    />
                                    <label for="auctionStartingDate" class="form-label">Start of auction</label>
                                    <!-- <div th:replace="~{fragments/fragment-error :: frag-error('auctionStartingDate')}"></div> -->
                                </div>

                                <div class="form-field">
                                    <input type="datetime-local"
                                           id="auctionEndingDate"
                                           name="auctionEndingDate"
                                           required
                                           class="form-input"
                                           placeholder=""
                                           th:attr="min=${#temporals.format(#temporals.createNow().plusDays(7), 'yyyy-MM-dd''T''HH:mm')}"
                                           th:value="${formattedEndDate}"
                                    />
                                    <label for="auctionEndingDate" class="form-label">End of auction</label>
                                    <!-- <div th:replace="~{fragments/fragment-error :: frag-error('auctionEndingDate')}"></div> -->
                                </div>
                            </div>


                            <div class="form-field">
                                <input type="text" id="street" name="street" required class="form-input" placeholder=""
                                       th:field="*{withdrawal.street}"/>
                                <label for="street" class="form-label">Street</label>
                                <div th:replace="~{fragments/fragment-error :: frag-error('withdrawal.street')}"></div>
                            </div>

                            <div class="form-row">
                                <div class="form-field">
                                    <input type="text" id="zipCode" name="zipCode" required class="form-input"
                                           placeholder="" th:field="*{withdrawal.zipCode}"/>
                                    <label for="zipCode" class="form-label">Zip Code</label>
                                    <div th:replace="~{fragments/fragment-error :: frag-error('withdrawal.zipCode')}"></div>
                                </div>

                                <div class="form-field">
                                    <input type="text" id="city" name="city" required class="form-input" placeholder=""
                                           th:field="*{withdrawal.city}"/>
                                    <label for="city" class="form-label">City</label>
                                    <div th:replace="~{fragments/fragment-error :: frag-error('withdrawal.city')}"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button class="button" type="submit">Save</button>
                            <a href="/" class="button button--secondary">Cancel</a>
                        </div>

                        <p class="auth-form__message auth-form__message--login"></p>
                    </form>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', () => {

                const inputFile = document.querySelector('#image');
                const imageContainer = document.querySelector('#image-container');

                inputFile.addEventListener('change', function (event) {
                    while (imageContainer.firstChild) {
                        imageContainer.removeChild(imageContainer.firstChild);
                    }

                    if (event.target.files.length > 0) {
                        const file = event.target.files[0];
                        const frame = document.createElement('img');
                        frame.classList.add('image-preview');
                        frame.src = URL.createObjectURL(file);
                        frame.alt = "Image preview";

                        frame.onload = function () {
                            URL.revokeObjectURL(frame.src);
                        };

                        imageContainer.appendChild(frame);

                        const fileInfo = document.createElement('div');
                        fileInfo.classList.add('file-info');
                        const fileName = document.createElement('p');
                        fileName.textContent = `File name: ${file.name} `;
                        const fileSize = document.createElement('p');
                        fileSize.textContent = `Size: ${(file.size / 1024).toFixed(2)} KB`;

                        fileInfo.appendChild(fileName);
                        fileInfo.appendChild(fileSize);
                        imageContainer.appendChild(fileInfo);
                    }
                });
            });
        </script>

    </section>
</main>

</html>
