.product__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-6);
}

.product__image {
    display: flex;
    position: relative;
    overflow: hidden;
}

.product__image .item__status {
    position: absolute;
    text-align: center;
    top: var(--space-5);
    left: var(--space-5);
    padding: var(--space-2) var(--space-4);
    border-radius: var(--border-radius-2);
    font-size: var(--h5);
    font-weight: var(--bold);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    z-index: 10;
}

.item__status--active {
    background: var(--success-color);
    color: var(--text);
}

.item__status--pending {
    background: var(--warning-color);
}

.item__status--concluded {
    background: var(--error-color);
}

.product__image img {
    border-radius: var(--border-radius-2);
}

.product__info {
    display: grid;
    gap: var(--space-4);
}

.product__title {
    font-size: var(--h2);
}

.related-product__title {
    font-size: var(--h3);
    max-width: var(--max-width-4);
    margin-bottom: var(--space-6);
}

.product__description {
    font-size: var(--h4);
}

.product__category {
    font-size: var(--text-small);
}

.product__category a {
    text-decoration: underline;
}

.product__actual-price {
    font-size: var(--h3);
}

.auction__form-group {
    display: flex;
    align-items: center;
    gap: var(--space-3);
}

.auction__form-field {
    position: relative;
}

.auction__form-field::before {
    content: '€';
    position: absolute;
    top: 50%;
    left: var(--space-2);
    transform: translateY(-50%);
    font-size: var(--h5);
    font-weight: var(--bold);
}

.auction__form-field input {
    border-radius: var(--space-1);
    padding: var(--space-1) var(--space-2) var(--space-1) var(--space-5);
    text-align: center;
    width: clamp(7rem, 4.291rem + 9.029vw, 12rem);
    font-size: var(--h4);
    background: none;
    border: none;
}

.auction__form-field::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--text);
}

.auction__form-field input:focus {
    outline: none;
    background: var(--text15);
}

.auction__form-field input[type="number"]::-webkit-inner-spin-button,
.auction__form-field input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.auction__form-field input[type="number"] {
    -moz-appearance: textfield;
}

.bid-history__title {
    font-size: var(--h3);
    text-align: center;
}

.bid-history__total-count {
    text-align: center;
    margin-top: var(--space-3);
}