<footer class="footer" xmlns:th="http://www.thymeleaf.org" th:fragment="frag-footer">
    <div class="container">
        <div class="footer__container">
            <p>2024 &copy; All rights reserved</p>
            <p>
                Design & developped by Cléa Le Corre, Jean-Baptiste Marrec, François Moisan & Gaétan Royer.
            </p>
        </div>
    </div>
</footer>