<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout-main(
            pageContent=~{:: .main},
            title='Register for Free on BidHub - Start Bidding Today!',
            cssPath=null,
            jsPath='/js/common/show-password-form.js'
        )}">

<main class="main">

    <section class="section-content">
        <div class="container">

            <div class="form-container">
                <div class="form-section">
                    <h1 class="form-title">Register</h1>

                    <form method="POST" th:action="@{/create-account}" th:object="${user}" class="auth-form">

                        <p class="error error--register-global" th:each="error: ${#fields.errors('global')}" th:text="${error}"></p>

                        <div class="form-group">

                            <div class="form-row">

                                <div class="form-field">
                                    <input
                                            type="text"
                                            id="username"
                                            name="username"
                                            required
                                            class="form-input"
                                            placeholder=""
                                            th:field="*{username}"
                                    />
                                    <label for="username" class="form-label">Username</label>
                                </div>

                                <div class="form-field">
                                    <input
                                            type="email"
                                            id="email"
                                            name="email"
                                            required
                                            class="form-input"
                                            placeholder=""
                                            th:field="*{email}"
                                    />
                                    <label for="email" class="form-label">Email</label>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-field">
                                    <input
                                            type="password"
                                            id="password"
                                            name="password"
                                            required
                                            class="form-input"
                                            placeholder=""
                                            th:field="*{password}"
                                    />

                                    <label for="password" class="form-label">Password</label>

                                    <i
                                            class="form-icon ri-eye-line"
                                    ></i>

                                </div>

                                <div class="form-field">
                                    <input
                                            type="password"
                                            id="passwordConfirm"
                                            name="passwordConfirm"
                                            required
                                            class="form-input"
                                            placeholder=""
                                    />
                                    <label for="passwordConfirm" class="form-label">Password confirmation</label>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-field">
                                    <input
                                            type="text"
                                            id="firstName"
                                            name="firstName"
                                            required
                                            class="form-input"
                                            placeholder=""
                                            th:field="*{firstName}"
                                    />
                                    <label for="firstName" class="form-label">First Name</label>

                                </div>

                                <div class="form-field">
                                    <input
                                            type="text"
                                            id="lastName"
                                            name="lastName"
                                            required
                                            class="form-input"
                                            placeholder=""
                                            th:field="*{lastName}"
                                    />
                                    <label for="lastName" class="form-label">Last Name</label>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-field">
                                    <input
                                            type="text"
                                            id="phone"
                                            name="phone"
                                            required
                                            class="form-input"
                                            placeholder=""
                                            th:field="*{phone}"
                                    />
                                    <label for="phone" class="form-label">Phone</label>
                                </div>

                                <div class="form-field">
                                    <input
                                            type="text"
                                            id="street"
                                            name="street"
                                            required
                                            class="form-input"
                                            placeholder=""
                                            th:field="*{street}"
                                    />
                                    <label for="street" class="form-label">Street Address</label>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-field">
                                    <input
                                            type="text"
                                            id="zipCode"
                                            name="zipCode"
                                            required
                                            class="form-input"
                                            placeholder=""
                                            th:field="*{zipCode}"
                                    />
                                    <label for="zipCode" class="form-label">Zip Code</label>
                                </div>

                                <div class="form-field">
                                    <input
                                            type="text"
                                            id="city"
                                            name="city"
                                            required
                                            class="form-input"
                                            placeholder=""
                                            th:field="*{city}"
                                    />
                                    <label for="city" class="form-label">City</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button class="button" type="submit">
                                Register
                            </button>

                            <button class="button button--secondary" type="reset">
                                Reset
                            </button>
                        </div>

                        <a class="form-link--centered" th:href="@{/login}">Already have an
                            <strong>account</strong>? Log in here!</a>
                    </form>
                </div>
            </div>
        </div>

    </section>
</main>
</html>
